doctype html
head
    title Stats
    script(src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0")

    block style
body
    h1 Stats

    block form

    div(style="width: 600px; height: 500px")
        canvas#chart(width="500" height="400")

    block script
    